.column-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 10px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-weight: 600;
    }

    input {
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid #ccc;

      &:focus {
        outline: none;
        border-color: #393c42;
      }
    }

    input[type="color"] {
      padding: 0;
      height: 42px;
      width: 100%;
      cursor: pointer;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    flex-direction: column;

    .btn {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      color: white;
    }

    .cancel {
      background: #393c42; 
        &:hover {
            opacity: 0.85;
        }
    }

    .primary {
      background: #393c42;
      &:hover {
        opacity: 0.85;
      }
    }
  }
}
