.kanban-column {
  background: #f3f4f6;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .leads-container {
    flex: 1;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
