<div class="kanban-column">
  <div class="column-header">
    <h3>{{ column.name }}</h3>
    <button (click)="openCreateLeadModal()" class="add-lead-btn">+ Lead toevoegen</button>
    <button (click)="deleteColumn()" class="delete-column-btn" title="Kolom verwijderen">×</button>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="leadsSignal()"
    [cdkDropListConnectedTo]="connectedDropLists"
    [id]="'drop-list-' + column.id"
    cdkDropListSortingDisabled
    class="leads-container"
    (cdkDropListDropped)="dropEvent.emit($event)">

    @for (lead of leadsSignal(); track lead.id) {
      <app-lead-card
        [lead]="lead"
        (refreshLeadEvent)="onRefreshLeads()"
        (deleteLeadEvent)="onRefreshLeads()"
        cdkDrag
        [cdkDragData]="lead">
      </app-lead-card>
    }

  
  </div>
</div>
